<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Penguin-Body.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>69</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>Penguin-LeftLeg.png</key>
		<dict>
			<key>x</key>
			<integer>151</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>16</integer>
		</dict>
		<key>Penguin-LeftWing.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>17</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>originalHeight</key>
			<integer>39</integer>
		</dict>
		<key>Penguin-LeftWingFist.png</key>
		<dict>
			<key>x</key>
			<integer>71</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>23</integer>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>55</integer>
		</dict>
		<key>Penguin-RightLeg.png</key>
		<dict>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>14</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>15</integer>
		</dict>
		<key>Penguin-RightWing.png</key>
		<dict>
			<key>x</key>
			<integer>133</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>17</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>originalHeight</key>
			<integer>39</integer>
		</dict>
		<key>Penguin-LeftWing2.png</key>
		<dict>
			<key>x</key>
			<integer>95</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
	</dict>
</dict>
</plist>
