<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Eskimo-Body.png</key>
		<dict>
			<key>x</key>
			<integer>14</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>67</integer>
		</dict>
		<key>Eskimo-Head.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>Eskimo-LeftArm.png</key>
		<dict>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>49</integer>
		</dict>
		<key>Eskimo-Leg.png</key>
		<dict>
			<key>x</key>
			<integer>187</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>Eskimo-RightArm.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
		<key>Eskimo-Spear.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>151</integer>
		</dict>
	</dict>
</dict>
</plist>